.w3-margin {
  margin: 16px !important
}

.w3-margin-top {
  margin-top: 16px !important
}

.w3-margin-bottom {
  margin-bottom: 16px !important
}

.w3-margin-left {
  margin-left: 16px !important
}

.w3-margin-right {
  margin-right: 16px !important
}

.w3-padding-small {
  padding: 4px 8px !important
}

.w3-padding {
  padding: 8px 16px !important
}

.w3-padding-large {
  padding: 10px 20px !important
}
.w3-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.w3-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.w3-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.w3-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important
}

.w3-border-0 {
  border: 0 !important
}

.w3-border {
  border: 1px solid #ccc !important
}

.w3-border-top {
  border-top: 1px solid #ccc !important
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc !important
}

.w3-border-left {
  border-left: 1px solid #ccc !important
}

.w3-border-right {
  border-right: 1px solid #ccc !important
}

.w3-bar-block .w3-dropdown-hover, .w3-bar-block .w3-dropdown-click {
  width: 100%
}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content, .w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%
}
.w3-row-padding, .w3-row-padding > .w3-half, .w3-row-padding > .w3-third, .w3-row-padding > .w3-twothird, .w3-row-padding > .w3-threequarter, .w3-row-padding > .w3-quarter, .w3-row-padding > .w3-col {
  padding: 0 8px
}
.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
  float: left;
  width: 100%
}

.w3-col.s1 {
  width: 8.33333%
}

.w3-col.s2 {
  width: 16.66666%
}

.w3-col.s3 {
  width: 24.99999%
}

.w3-col.s4 {
  width: 33.33333%
}

.w3-col.s5 {
  width: 41.66666%
}

.w3-col.s6 {
  width: 49.99999%
}

.w3-col.s7 {
  width: 58.33333%
}

.w3-col.s8 {
  width: 66.66666%
}

.w3-col.s9 {
  width: 74.99999%
}

.w3-col.s10 {
  width: 83.33333%
}

.w3-col.s11 {
  width: 91.66666%
}

.w3-col.s12 {
  width: 99.99999%
}